#headernav,#footernav{
    background-color:cadetblue;
    height:100px;

}
#footernav{

    clear:both;
}
#login_form, #signup_form{
    
    width:50%;
    margin:30px 25% 30px 25%;   
    text-align:center;
    background-color:powderblue;
     height:auto;
}
/*login and home link*/
#Login, #Home{
    color:white;
    font-size:larger;
    font-weight:bolder;
}
#searchicon
{
    background-color:green;
    border:white;
}
#logo,#Image1{
    width:50px;
    height:50px;
    border-radius: 50%;
}
#tbl_login tr td{
    padding:20px;
    float:left;
    font-size:large;
    font-weight:bold;
}
#tbl_signup tr td{
    padding:20px;
    float:left;
    font-size:large;
    font-weight:bold;
#srch
{
    width:500px;
    
}
.classWithPad
{
    margin:10px; 
    padding:10px;
}


